/*heading table*/

.fulltable {
    align:center;
    text-align: left;
    width:100% ;
    table-layout:fixed;
    border:1px solid black;
    border-spacing:0px;
    background-color:grey;
    font-family: 'Monda', sans-serif;
    }
.bodyoutside {
  background-color:grey;
  
}

.bodyinside {
    height:90%;
    width:95%;
    margin:20px ;
    border:2px solid black;
    padding:20px;
    content:300px 200px;
    background-color: white;
}

.ahs {
  font-family: 'Russo One', sans-serif;
}

.homebutton {
    background-color: #FF8B49; 
    border: none;
    color: white;
    padding:4px 10px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.joinbutton {
  background-color: #FF8B49;
    border: none;
    color: white;
    padding: 15px 7%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Monda', sans-serif;
}

.calenderbutton {
  background-color: #FF8B49; 
    border: none;
    color: white;
    padding: 15px 7%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Monda', sans-serif;
}

.informationbutton { 
   background-color: #FF8B49; 
    border: none;
    color: white;
    padding: 15px 7%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Monda', sans-serif;
}

.gamesbutton {
   background-color:#FF8B49;
    border:none;
    color:white;
    padding:15px 7%;
    text-align:center;
    text-decoration:none;
    display:inline-block;
    font-size:16px;
    cursor:pointer;
    font-family: 'Monda', sans-serif;
}

.contactusbutton {
   background-color: #FF8B49;
    border: none;
    color: white;
    padding: 15px 7%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Monda', sans-serif;
}

a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: gold;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color:#ccad00;
    background-color: transparent;
    text-decoration: underline;
}

