/*heading table*/

#fulltable {
    text-align: left;
    width:98% ;
    table-layout:fixed;
    border:1px solid black;
    border-spacing:0px;
    background-color:grey;
    }
.bodyoutside {
  background-color:grey;
  
}

.bodyinside {
    height:90%;
    width:95%;
    margin:20px ;
    border:2px solid black;
    padding:20px;
    content:300px 200px;
    background-color: white;
}

.ahsesportsclub {
  font-family: 'Russo One', sans-serif;
}

#homebutton {
    background-color: blue; 
    border: none;
    color: white;
    padding:0px 10px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    
}

#joinbutton {
  background-color: blue;
    border: none;
    color: white;
    padding: 15px 8%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

#calenderbutton {
  background-color: blue; 
    border: none;
    color: white;
    padding: 15px 8%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

#informationbutton { 
    background-color: blue; 
    border: none;
    color: white;
    padding: 15px 8%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

#contactusbutton {
   background-color: blue;
    border: none;
    color: white;
    padding: 15px 8%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: gold;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color:#ccad00;
    background-color: transparent;
    text-decoration: underline;
}

